@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #85FFBD;
    height: 55vh;
    background-image: url(https://img.freepik.com/vetores-gratis/modelo-de-gradiente-colorido-em-um-fundo-roxo-escuro_53876-114483.jpg?w=740&t=st=1679508541~exp=1679509141~hmac=45751565c44428c9846bc34d825a6466171fcb929733856027522c830e203c01);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.cronometro {
    text-align: center;
    margin-top: 5vh;
}

h1 {
    margin-bottom: 0.5em;
    font-size: 5em;
    font-family: 'Archivo Black', sans-serif;
}

p {
    margin-bottom: 2em;
    font-size: 2em;
    font-family: 'Archivo Black', sans-serif;

}

.numbers {
    color: green;
    font-size: 5em;
    background-color: black;
    width: 5em;
    margin: auto;
    border-bottom: 15px solid rgb(54, 54, 54);
    border-top: 15px solid rgb(54, 54, 54);
    border-left: 15px solid rgb(54, 54, 54);
    border-right: 15px solid rgb(54, 54, 54);
    border-color: #999 #222222 #222222 #999;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: 'Orbitron', sans-serif;
}

button {
    margin-top: 2em;
    margin-left: 1em;
    margin-right: 1em;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
